<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="Sql"
				 connectionString="Data Source=(LocalDb)\ProjectsV13;Initial Catalog=Database;Integrated Security=True"
				 providerName="System.Data.SqlClient"
				 />

		<add name="MySql"
				 connectionString="server=127.0.0.1;uid=DemoUser;pwd=DemoUser"
				 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<authentication mode="Windows" />
		<compilation debug="true" targetFramework="4.7" />
		<httpRuntime targetFramework="4.7"/>
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpEndpointBinding">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		
		<services>
			<service name="Service.Service" behaviorConfiguration="bindingConfig">
				<endpoint address="" contract="ServiceInterface.IService" binding="basicHttpBinding"
									bindingConfiguration="BasicHttpEndpointBinding"
									bindingNamespace="http://demo.com"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="bindingConfig">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
